<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.sendtocurrentfolder</string>
	<key>connections</key>
	<dict>
		<key>024BD846-ED11-4640-B9C4-D1C837799589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7421D78-94D7-4ADC-9F3A-7B680B1F2E5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>02E424DD-3741-42F4-8BE1-ACC01137CC25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B5CE29-9829-4436-AB65-8522590FF1DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B7A5784-F707-4E7B-B037-40BFA433F2F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCDDA9B-1FB3-460D-85C0-F19AE19D1B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4795F0D4-BCB6-4A1D-8070-D91FBD0361FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF16B5C0-6F71-46D9-9997-3A90B747C94A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86EC9F80-1C8D-4138-B704-83771A302B1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E648668F-8323-472B-9125-6EB92E4FAD24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DCDDA9B-1FB3-460D-85C0-F19AE19D1B2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C544CEF5-F438-4579-A532-088FA0046846</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A8BCB09-2AC6-470A-9BB1-D7834BCE71D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DCDDA9B-1FB3-460D-85C0-F19AE19D1B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD455EC8-F7DD-456B-B3DF-CC745F101B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4795F0D4-BCB6-4A1D-8070-D91FBD0361FF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reopen Universal Actions after moving</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF16B5C0-6F71-46D9-9997-3A90B747C94A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C544CEF5-F438-4579-A532-088FA0046846</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C408E98-453B-4503-84E5-78EE340F3A46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>084A03F0-9303-4D0B-8E6A-1969BC7CB1DE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7421D78-94D7-4ADC-9F3A-7B680B1F2E5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A8BCB09-2AC6-470A-9BB1-D7834BCE71D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7814BAED-CDE9-43E7-AC6D-1B375A91224D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B7A5784-F707-4E7B-B037-40BFA433F2F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>391AB8D0-66BE-4FAB-A666-F8CD83B0B7A7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2B531FD-1551-4098-9631-37F30F595002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B5CE29-9829-4436-AB65-8522590FF1DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>02E424DD-3741-42F4-8BE1-ACC01137CC25</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reopen Universal Actions after copying</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E648668F-8323-472B-9125-6EB92E4FAD24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>024BD846-ED11-4640-B9C4-D1C837799589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF16B5C0-6F71-46D9-9997-3A90B747C94A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86EC9F80-1C8D-4138-B704-83771A302B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0B5CE29-9829-4436-AB65-8522590FF1DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86EC9F80-1C8D-4138-B704-83771A302B1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Move or copy files to the frontmost Finder window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send to Current Folder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>reopen_ua</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4795F0D4-BCB6-4A1D-8070-D91FBD0361FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Move to Frontmost Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>AD455EC8-F7DD-456B-B3DF-CC745F101B0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>save_in</key>
					<string>{var:destination}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.move</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9A8BCB09-2AC6-470A-9BB1-D7834BCE71D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>move</string>
					<key>file_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EF16B5C0-6F71-46D9-9997-3A90B747C94A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>5C408E98-453B-4503-84E5-78EE340F3A46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>8DCDDA9B-1FB3-460D-85C0-F19AE19D1B2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>86EC9F80-1C8D-4138-B704-83771A302B1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>move</string>
						<key>outputlabel</key>
						<string>Move</string>
						<key>uid</key>
						<string>7814BAED-CDE9-43E7-AC6D-1B375A91224D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>391AB8D0-66BE-4FAB-A666-F8CD83B0B7A7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C7421D78-94D7-4ADC-9F3A-7B680B1F2E5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:file_list}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>destination</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E648668F-8323-472B-9125-6EB92E4FAD24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>024BD846-ED11-4640-B9C4-D1C837799589</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:reopen_ua}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Universal Actions</string>
						<key>uid</key>
						<string>084A03F0-9303-4D0B-8E6A-1969BC7CB1DE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C544CEF5-F438-4579-A532-088FA0046846</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>save_in</key>
					<string>{var:destination}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0B7A5784-F707-4E7B-B037-40BFA433F2F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Copy to Frontmost Folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E2B531FD-1551-4098-9631-37F30F595002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>copy</string>
					<key>file_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0B5CE29-9829-4436-AB65-8522590FF1DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>reopen_ua</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>02E424DD-3741-42F4-8BE1-ACC01137CC25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Move or copy files to the frontmost Finder window via the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/).

![Universal actions to move and copy](images/about/ua.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Perform the action.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Perform the action and reopen the Universal Actions panel for the files in the new location.</string>
	<key>uidata</key>
	<dict>
		<key>024BD846-ED11-4640-B9C4-D1C837799589</key>
		<dict>
			<key>note</key>
			<string>Split file list into arguments</string>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>02E424DD-3741-42F4-8BE1-ACC01137CC25</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>0B7A5784-F707-4E7B-B037-40BFA433F2F1</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>4795F0D4-BCB6-4A1D-8070-D91FBD0361FF</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>5C408E98-453B-4503-84E5-78EE340F3A46</key>
		<dict>
			<key>xpos</key>
			<real>1435</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>86EC9F80-1C8D-4138-B704-83771A302B1F</key>
		<dict>
			<key>note</key>
			<string>Get path to frontmost Finder window…</string>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>8DCDDA9B-1FB3-460D-85C0-F19AE19D1B2A</key>
		<dict>
			<key>xpos</key>
			<real>1180</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>9A8BCB09-2AC6-470A-9BB1-D7834BCE71D6</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>AD455EC8-F7DD-456B-B3DF-CC745F101B0F</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C544CEF5-F438-4579-A532-088FA0046846</key>
		<dict>
			<key>xpos</key>
			<real>1345</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>C7421D78-94D7-4ADC-9F3A-7B680B1F2E5B</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>E2B531FD-1551-4098-9631-37F30F595002</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E648668F-8323-472B-9125-6EB92E4FAD24</key>
		<dict>
			<key>note</key>
			<string>… and save it for later</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>EF16B5C0-6F71-46D9-9997-3A90B747C94A</key>
		<dict>
			<key>note</key>
			<string>Save file list</string>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>F0B5CE29-9829-4436-AB65-8522590FF1DE</key>
		<dict>
			<key>note</key>
			<string>Save file list</string>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2025.0</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/send-to-current-folder-workflow/</string>
</dict>
</plist>
